<a href="https://colab.research.google.com/github/awaaat/Machine_learning-Deep_learning/blob/main/Dealing_With_Categorical_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#suppose a dataset has a Gender column with categorical elements like Male and  Female.  These labels have no specific order of preference and also since the data is string labels, machine learning models misinterpreted that there is some sort of hierarchy in them

#One way to solve this is by encoding where we will assign a numerical value to these labels for example Male and Female mapped to 0 and 1.
This methos is called One Hot Encoding technique

In [7]:
#Let us see this by example
import pandas as pd
df = pd.read_csv("/content/sample_data/employee_data All in one.csv")
df.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,...,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
0,3427,Uriah,Bridges,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,...,Finance & Accounting,7/10/1969,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4
1,3428,Paula,Small,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,...,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3
2,3429,Edward,Buck,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,...,General - Sga,6/10/1991,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4
3,3430,Michael,Riordan,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,...,Finance & Accounting,4/4/1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2
4,3431,Jasmine,Onque,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,...,General - Con,29-08-1969,FL,Laborer,Female,33174,Other,Married,Fully Meets,3

In [16]:
df.nunique()

EmpID                         3000
FirstName                     1597
LastName                      1137
StartDate                     1496
ExitDate                       820
Title                           32
Supervisor                    2952
ADEmail                       2998
BusinessUnit                    10
EmployeeStatus                   5
EmployeeType                     3
PayZone                          3
EmployeeClassificationType       3
TerminationType                  5
TerminationDescription        1533
DepartmentType                   6
Division                        25
DOB                           2800
State                           28
JobFunctionDescription          83
GenderCode                       2
LocationCode                  2821
RaceDesc                         5
MaritalDesc                      4
Performance Score                4
Current Employee Rating          5
dtype: int64

In [17]:
df["GenderCode"].value_counts()
df["EmployeeStatus"].value_counts()

Active                    2458
Voluntarily Terminated     321
Leave of Absence            86
Future Start                69
Terminated for Cause        66
Name: EmployeeStatus, dtype: int64

In [19]:
df.nunique()

EmpID                         3000
FirstName                     1597
LastName                      1137
StartDate                     1496
ExitDate                       820
Title                           32
Supervisor                    2952
ADEmail                       2998
BusinessUnit                    10
EmployeeStatus                   5
EmployeeType                     3
PayZone                          3
EmployeeClassificationType       3
TerminationType                  5
TerminationDescription        1533
DepartmentType                   6
Division                        25
DOB                           2800
State                           28
JobFunctionDescription          83
GenderCode                       2
LocationCode                  2821
RaceDesc                         5
MaritalDesc                      4
Performance Score                4
Current Employee Rating          5
dtype: int64

In [23]:
# one_hot_encoded_data = pd.get_dummies(data, columns = ['Remarks', 'Gender'])
#print(one_hot_encoded_data)
df1 = pd.get_dummies(df, columns = ["EmployeeStatus", "EmployeeType", "PayZone", "EmployeeClassificationType", "TerminationType", "DepartmentType", "GenderCode", "RaceDesc", "MaritalDesc", "Performance Score", "Current Employee Rating"])
df1

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,TerminationDescription,...,MaritalDesc_Widowed,Performance Score_Exceeds,Performance Score_Fully Meets,Performance Score_Needs Improvement,Performance Score_PIP,Current Employee Rating_1,Current Employee Rating_2,Current Employee Rating_3,Current Employee Rating_4,Current Employee Rating_5
0,3427,Uriah,Bridges,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,NaN,...,1,0,1,0,0,0,0,0,1,0
1,3428,Paula,Small,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,NaN,...,1,0,1,0,0,0,0,1,0,0
2,3429,Edward,Buck,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,NaN,...,1,0,1,0,0,0,0,0,1,0
3,3430,Michael,Riordan,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,NaN,...,0,0,1,0,0,0,1,0,0,0
4,3431,Jasmine,Onque,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,NaN,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,3422,Jakobe,Erickson,22-Jun-22,7-Aug-22,Production Technician I,Bethany Carter,jakobe.erickson@bilearner.com,PYZ,In forget fast.,...,1,0,1,0,0,0,0,1,0,0
2996,3423,Adyson,Strickland,28-Dec-20,NaN,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,NaN,...,1,0,1,0,0,0,0,1,0,0
2997,3424,Annabel,Wilkins,9-Dec-20,4-Aug-22,Production Technician I,Mr. James Castillo,annabel.wilkins@bilearner.com,TNS,Smile high bar white spend forget choice near.,...,0,0,1,0,0,0,1,0,0,0
2998,3425,Kendra,Braun,28-May-19,23-Oct-21,Production Technician I,Michael Woods,kendra.braun@bilearner.com,WBL,Fine expect election either turn.,...,0,0,1,0,0,0,1,0,0,0
2999,3426,Chace,Kerr,27-Apr-22,NaN,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,NaN,...,0,0,1,0,0,0,1,0,0,0

#Another way of one hot encoding by using Sklearn

In [25]:
from sklearn.preprocessing import OneHotEncoder
df4 = pd.read_csv("/content/sample_data/employee_data All in one.csv")
df4

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,...,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
0,3427,Uriah,Bridges,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,...,Finance & Accounting,7/10/1969,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4
1,3428,Paula,Small,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,...,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3
2,3429,Edward,Buck,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,...,General - Sga,6/10/1991,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4
3,3430,Michael,Riordan,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,...,Finance & Accounting,4/4/1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2
4,3431,Jasmine,Onque,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,...,General - Con,29-08-1969,FL,Laborer,Female,33174,Other,Married,Fully Meets,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,3422,Jakobe,Erickson,22-Jun-22,7-Aug-22,Production Technician I,Bethany Carter,jakobe.erickson@bilearner.com,PYZ,Leave of Absence,...,Engineers,23-06-1998,MA,Model Assistant,Female,44500,Other,Widowed,Fully Meets,3
2996,3423,Adyson,Strickland,28-Dec-20,NaN,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,Active,...,Engineers,10/6/2001,MA,Engineer,Male,35444,Black,Widowed,Fully Meets,3
2997,3424,Annabel,Wilkins,9-Dec-20,4-Aug-22,Production Technician I,Mr. James Castillo,annabel.wilkins@bilearner.com,TNS,Voluntarily Terminated,...,Wireline Construction,27-01-1997,MA,Laborer,Male,6608,White,Single,Fully Meets,2
2998,3425,Kendra,Braun,28-May-19,23-Oct-21,Production Technician I,Michael Woods,kendra.braun@bilearner.com,WBL,Voluntarily Terminated,...,Aerial,28-05-1954,MA,Foreman,Female,3807,Hispanic,Divorced,Fully Meets,2
2999,3426,Chace,Kerr,27-Apr-22,NaN,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,Active,...,Field Operations,11/9/1990,MA,Warehouse Technician,Female,57487,White,Married,Fully Meets,2

In [26]:
df4.nunique()

EmpID                         3000
FirstName                     1597
LastName                      1137
StartDate                     1496
ExitDate                       820
Title                           32
Supervisor                    2952
ADEmail                       2998
BusinessUnit                    10
EmployeeStatus                   5
EmployeeType                     3
PayZone                          3
EmployeeClassificationType       3
TerminationType                  5
TerminationDescription        1533
DepartmentType                   6
Division                        25
DOB                           2800
State                           28
JobFunctionDescription          83
GenderCode                       2
LocationCode                  2821
RaceDesc                         5
MaritalDesc                      4
Performance Score                4
Current Employee Rating          5
dtype: int64

In [31]:
df4["GenderCode"] = df4["GenderCode"].astype("category")
df4["RaceDesc"] = df4["RaceDesc"].astype("category")
df4["G_Code"] = df4["GenderCode"].cat.codes
df4["R_Desc"] = df4["RaceDesc"].cat.codes
encode = OneHotEncoder()
df40 = pd.DataFrame(encode.fit_transform(df4[["G_Code", "R_Desc"]]).toarray())
df5 = df4.join(df40)
df5

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,...,Current Employee Rating,G_Code,R_Desc,0,1,2,3,4,5,6
0,3427,Uriah,Bridges,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,...,4,0,4,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,3428,Paula,Small,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,...,3,1,2,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,3429,Edward,Buck,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,...,4,1,2,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,3430,Michael,Riordan,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,...,2,1,3,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,3431,Jasmine,Onque,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,...,3,0,3,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,3422,Jakobe,Erickson,22-Jun-22,7-Aug-22,Production Technician I,Bethany Carter,jakobe.erickson@bilearner.com,PYZ,Leave of Absence,...,3,0,3,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2996,3423,Adyson,Strickland,28-Dec-20,NaN,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,Active,...,3,1,1,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2997,3424,Annabel,Wilkins,9-Dec-20,4-Aug-22,Production Technician I,Mr. James Castillo,annabel.wilkins@bilearner.com,TNS,Voluntarily Terminated,...,2,1,4,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2998,3425,Kendra,Braun,28-May-19,23-Oct-21,Production Technician I,Michael Woods,kendra.braun@bilearner.com,WBL,Voluntarily Terminated,...,2,0,2,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2999,3426,Chace,Kerr,27-Apr-22,NaN,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,Active,...,2,0,4,1.0,0.0,0.0,0.0,0.0,0.0,1.0