In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Enable experimental IterativeImputer
from sklearn.experimental import enable_iterative_imputer  # noqa
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
from sklearn.linear_model import LinearRegression

# Third-party imports
import seaborn as sns
import matplotlib.pyplot as plt

# Local application/library-specific imports
import data_ingestion
import parameter_dictionary
import imputation_methods
from parameter_dictionary import ConfigParameters
from raw_data_processor import RawDataProcessor
from data_cleaning_and_transformation import DataCleanerAndTransformer

In [2]:
data_getter = DataCleanerAndTransformer(parameter_dict=parameter_dictionary)
df0 = data_getter.clean_and_transform()

2024-11-22 21:28:11,319 : data_ingestion - INFO - CSV File Loaded Successfully
2024-11-22 21:28:11,328 : raw_data_processor.RawDataProcessor - INFO - Successfully Loaded Data
2024-11-22 21:28:11,339 : raw_data_processor.RawDataProcessor - INFO - Successfully Renamed Specified Columns
2024-11-22 21:28:11,372 : raw_data_processor.RawDataProcessor - INFO - Successfully Dropped Rows with Null Values
2024-11-22 21:28:21,118 : raw_data_processor.RawDataProcessor - INFO - Successfully Extracted and created 'account_name' column
2024-11-22 21:28:26,236 : raw_data_processor.RawDataProcessor - INFO -  Successfully Created Column 'account_condition'
2024-11-22 21:28:37,950 : raw_data_processor.RawDataProcessor - INFO - Successfully Extracted and Created Column 'orders done'.
2024-11-22 21:28:47,981 : raw_data_processor.RawDataProcessor - INFO - Successfully Created Column 'account_rating'.
2024-11-22 21:28:53,004 : raw_data_processor.RawDataProcessor - INFO - Successfully Classified Accounts as Bid/Take
2024-11-22 21:28:53,114 : raw_data_processor.RawDataProcessor - INFO - Successfully Transformed Price Column
2024-11-22 21:28:53,160 : data_cleaning_and_transformation.DataCleaningAndTransformation - INFO - Successfully Transformed Columns
2024-11-22 21:28:53,221 : data_cleaning_and_transformation.DataCleaningAndTransformation - INFO - Successfully removed duplicate rows and reset the index.
2024-11-22 21:28:53,822 : data_cleaning_and_transformation.DataCleaningAndTransformation - INFO - Successfully updated the 'rating' column based on specified conditions.
2024-11-22 21:28:53,847 : data_cleaning_and_transformation.DataCleaningAndTransformation - INFO - Successfully replaced zeros in column 'price' with the median.
2024-11-22 21:28:53,872 : data_cleaning_and_transformation.DataCleaningAndTransformation - INFO - Successfully dropped rows with missing values in 'name' column.

In [5]:
df0.head(1)

      name  orders_done condition  rating bid/take    price
0  Edusson          0.0       new     5.0      bid  50000.0

In [3]:
df0.describe().T

,count,mean,std,min,25%,50%,75%,max
orders_done,4565.0,568.658708,1598.566291,0.0,2.000,65.0,400.0,54000.0
rating,4565.0,4.743146,0.679157,0.0,4.815,4.9,5.0,5.0
price,4565.0,130974.404819,273382.640567,680.0,45000.000,70000.0,133000.0,11000000.0

In [27]:
df0.groupby('name')['name'].count().sort_values(ascending=True)

name
Verbit                         1
Residential Proxies            1
GoTranscript                   2
ProWritersPro                  2
Hirewriters                    2
Topwriterlist                  3
Crowdsurf                      5
Scribie                        6
Enemployed Professor           6
Transcription Staff            6
Essaywriters                   6
Studydaddy                     6
24writers                      7
Course Hero                    8
Transcribe me                  8
ProWritersTime                 9
Bluecorp Service              10
Quality Writers               12
Sweetstudy                    15
Atlantic Writers              15
Transtutors                   16
Chat from home                18
Studygate                     18
Focus Forward                 19
Fiverr                        22
Livingstone Research          23
Simpletense                   24
Remotask                      26
VIP Writers                   27
UvoCorp                       33
CoudWorkers                   36
Writezillas                   38
Textbroker                    44
Writing Creek                 44
Texting Factory               47
Freelance Writing center      49
Nerdy Turtlez                 63
TSM Group                     79
Echolabs                      91
4writers                      91
Essayshark                   111
Studybay                     154
Writershub                   172
Writerslabs                  259
Writerbay                    300
Writedom                     304
Essaypro                     336
Academia Research            349
Edusson                      619
Studypool                   1023
Name: name, dtype: int64

In [13]:
df0.isnull().sum()

name           0
orders_done    0
condition      0
rating         0
bid/take       0
price          0
dtype: int64

In [12]:

df0['orders_done'].corr(df0['price'])

0.392924272399192

In [10]:

df0['rating'].corr(df0['price'])

0.05856452885057846